.history {
    border: 1px solid black;
    background-color: bisque;
    border-radius: 10px;
    padding: 10px;

    max-height: inherit;
    /* или height: 200px */
    overflow-y: auto;
    flex: 1;
}

.episode {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.action {
    font-style: oblique;
}