.AdsDetailsPage_layout {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    gap: 10px;

    border: 1px solid black;
    border-radius: 10px;
}

.gallery_and_history_layout {
    display: flex;
    gap: 10px;
    min-height: 30vh;
    max-height: 30vh;
}

.description {
    border: 1px solid black;
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    height: 50vh;
}

.buttons_panel {
    display: flex;
    justify-content: space-evenly;
}

.navigation_panel {
    display: flex;
    justify-content: space-between;
}

.gallery {
    flex: 1;
}

.history {
    flex: 1;
}