.card_list_layout {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;

}

.card_list_notfound {
    text-align: center;
}

.panel {
    display: flex;
    flex-direction: column;

    border: 1px solid black;
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 5px;
}

.filter {
    display: flex;
    flex-direction: column;
}

.sort {
    display: flex;
}
