.card {
    border: 1px solid black;
    border-radius: 5px;
    
    display: flex;

    font-size: 1rem;
    padding:10px;
}

.description {
    flex-grow: 1;
}

button {
    align-self: end;

    background-color: teal;
    font-size: 1rem;
}