.card {
    border: 1px solid black;
    border-radius: 5px;
    
    display: flex;

    font-size: 1rem;
    padding:10px;
}

.description {
    flex-grow: 1;
}

.panel_btn {
    align-self: end;

    background-color: teal;
    font-size: 1rem;
}

img {
    border: 1px solid black;
    box-shadow: 5px 5px 5px 5px 0.1;
    width: 50px;
    height: 50px;
}